@import "~react-jplayer/dist/css/react-jPlayer.min.css";

.Header-container{

    background-color: #404040;
    color: #404040;
}

.Header-container a {
    color: #D0D0D0;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    /*background-color: #141E2D;*/
    /*font-family: sans-serif;*/
}

h1 {
    /*color: #E0E0E2;*/
    /*font-family: Carlito, serif;*/
    /*font-size: 70px;*/
    /*text-align: center*/
}

a {
    /*color: #FFFF00;*/
}

button {
    /*background-color: #49100F;*/
    /*color: #B67431;*/
}

p {
    /*color: #E0E0E2*/
}

/*
background color : 141E2D
buttons color : 49100F
titles color : B67431
text color : E0E0E2
*/